{% extends "base.html.twig" %}
{% block body %}
    <p>Sortir.com est une plateforme Web permettant aux anciens stagiaires, ainsi que les stagiaires actifs de l'ENI de pouvoir organiser des sorties !</p>
    <p>Pour pouvoir bénéficier des services de l'application, il faudra vous inscrire puis vous connecter !</p>
    <p>Faites des rencontres et amusez-vous bien grâce à Sortir.com !</p>
{% endblock %}
{% block title %}{{ parent() }} | Accueil{% endblock %}