body {
    background: linear-gradient(#bcf8c0, #91e1f5) fixed;
    background-size: 100%;
    color: #000000;
    font-family: 'Crimson Text', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #e0141d;
}

img {
    max-width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}


header img {

    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 5%;
}

nav li {
    margin-right: 1rem;
}

.series-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: lawngreen}

.serie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.serie-details-infos > div {
    margin-bottom: 1rem;
}

section {
    text-align: center;
}

section .overview{
    font-size: large;
}

article {
    display:flex;
}

table,
td, tr {
    border: 1px solid #333;
}

#pp{
    max-width:70px;
    max-height: 70px;
}

@media screen and (min-width: 700px) {
    .serie-details {
        grid-template-columns: 300px 1fr;
    }
}