{{ form_start(form) }}

    {{ form_widget(form) }}

<label for="dateDebut">Date Début</label>
<input type="date" id="dateDebut" name="dateDebut"  min="2020-01-01" max="2030-01-01">

<label for="dateFin">Date Fin</label>
<input type="date" id="dateFin" name="dateFin"  min="2020-01-01" max="2030-01-01">

<fieldset>
    <legend></legend>

    <div>
        <label for="orga">Sorties dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="orga" name="orga">
    </div>

    <div>
        <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
        <input type="checkbox" id="inscrit" name="inscrit">
    </div>

    <div>
        <label for="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
        <input type="checkbox" id="pasInscrit" name="pasInscrit">
    </div>

    <div>
        <label for="passer">Sorties passées</label>
        <input type="checkbox" id="passer" name="passer">
    </div>

</fieldset>

<button class="btn">{{ button_label|default('Rechercher') }}</button>

{{ form_end(form) }}
